sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
pyaudio
PyQt6
PyPDF2
python-docx
pandas
pdfplumber
python-pptx
pydub
reportlab
SpeechRecognition